
main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

#palabra_a_adivinar span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}

#letras {
    display: flex;
    gap: 7px;

}

#letras button{
    padding: 6px;
}